body {
  background-color: #FFFFFF
}

h1 {
  font-family: "Futura", sans-serif;
  align-content: center;
}

h2 {
  font-family: "Futura", sans-serif;
  align-content: center;
}
h4 {
  font-family: "Futura", sans-serif;
  align-content: center;
}
p {
  font-family: "Goudy Old Style", serif;
  font-size: 20px
}

.smallText {
  font-family: "Goudy Old Style", serif;
  font-size:12px;
}
ol {
  font-family: "Goudy Old Style", serif;
  font-size:14px;
}

td {
  background-color: white;
  font-family: "Goudy Old Style", serif;
  font-size: 12px
}

a {
  font-family: "Goudy Old Style", serif;
  font-size: 18px;
}

span {
  font-family: "Goudy Old Style", serif;
}

b {
  font-family: "Goudy Old Style", serif;
}

input {
  font-family: "Goudy Old Style", serif;
}

button {
  font-family: "Goudy Old Style", serif;
  font-size: 12px;
  border-radius: 8px;
  background-color: #5effe3;
  border-color: #008799;
  padding: 3px;
}

button:hover:enabled {
  background-color: #069181;
  border-color: #000000
}

.menuBar {
  width: 10%;
  text-align: center;
}
.nav {
  background-color: #5effe3;
  text-align: center;
}

.loadContainer {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 75, 75, 0.5);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #069181;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari; easter egg */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.lCheck {
  font-size: 75px;
}

#attention {
  color: red;
  font-size: 15px;
  font-weight: 600
}

#toptext {
  padding-top: 10%
}

#questionSubmitButton {
  background-color: #44ff44;
  font-size: 12px;
  font-family: "Goudy Old Style", serif;
}

#mailtoButton {
  background-color: #33aa77;
  font-size: 12px;
  font-family: "Goudy Old Style", serif;
}

#xbutton {
  background-color: red;
  border: red;
  color: white;
  float: right;
  border-radius: 40%
}

#topfixed {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left
}

/* Dropdown Button */
.menuBar {
  background-color: #FF3C00;
  color: #000000;
  border: none;
  cursor: pointer;
}

.dropdown {
  overflow: hidden;
  position: relative;
  color: #000000;
  cursor: pointer;
  text-decoration: none
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
  background-color: #069181;
  color: white;
}

.container a, .dropdown .dropbtn {
  background-color: #ccad00;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
