body {
  background-color: #ddffdd;
}

h1 {
  font-family: "Verdana", sans-serif;
  align-content: center
}
h2 {
  font-family: "Arial", sans-serif;
  align-content: center
}
h4 {
  font-family: "Verdana", sans-serif;
  align-content: center
}
p {
  font-family: "Courier New", monospace;
  font-size: 20px
}

a {
  font-family: "Courier New", monospace;
  font-size:12px;
}
ol {
  font-family: "Courier New", monospace;
  font-size:14px;
}

td {
  background-color: white;
  font-family: "Courier New", monospace;
  font-size: 12px
}

input {
  font-family: "Courier New", monospace;
}

button {
  font-family: "Courier New", monospace;
  font-size: 12px;
  border-radius: 8px;
  background-color: #00ff00;
  border-color: #009900;
}

button:hover {
  padding: 2px;
  font-size: 13px;
  background-color: #00dd00;
}

.menuBar {
  width: 10%;
  text-align: center;
}
.nav {
  background-color: #8FF75B;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.topnavtable {
  align-content: center;
  margin: auto;
  border: 25px solid orange;
  width: 85%
}
.lCheck {
  font-size: 75px;
}

.priceBox {
  background: white;
  font-family: "Courier New", monospace;
  color: black
}

#attention {
  color: red;
  font-size: 15px;
  font-weight: 600
}

#toptext {
  padding-top: 10%
}

#questionSubmitButton {
  background-color: #44ff44;
  font-size: 12px;
  font-family: "Courier New", sans-serif
}

#mailtoButton {
  background-color: #33aa77;
  font-size: 12px;
  font-family: "Courier New", sans-serif
}

#xbutton {
  background-color: red;
  border: 1px solid red;
  color: white;
  float: right;
  border-radius: 20%;
  padding: 1.5px 10px
}

#xbutton:hover {
  background-color: #B33E3E;
  border: 1px solid red;
  border-radius: 20%;
  margin: auto;
  font-size: 12px;
}

#topfixed {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left
}

.paymentFrame {
  padding-top: 10%;
  height: 300px;
  border: none;
}

/* Dropdown Button */
.menuBar {
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  overflow: hidden;
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
  /*background-color: orange;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 9px 17px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
