h1 {
  font-family: "Futura", sans-serif;
}

h2 {
  font-family: "Futura", sans-serif;
}

p {
  font-family: "Goudy Old Style", serif;
}

a {
  font-family: "Goudy Old Style", serif;
}

button {
  border: 1px solid black;
  background-color: white;
  font-family: "Goudy Old Style", serif;
  font-size: 14px;
}

.menuExpand {
  font-family: "Goudy Old Style", serif;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 13px;
}

.menu {
  display: none;
  position: absolute;
  float: left;
  background-color: #069181;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu a{
  text-decoration: none;
  color: black;
  font-family: "Goudy Old Style", serif;
}

.menu{
  text-decoration: none;
  color: black;
  font-family: "Futura", serif;
  padding: 5px;
}

.homeButton {
  font-size: 16px;
  background-color: #ccad00;
  border: solid black;
  border-width: 1px;
}

.main {
  font-size: 16px;
  background-color: #5effe3;
  border: solid black;
  border-width: 1px;
}

#currentlySelected a {
  border: solid #a40000;
  border-width: 1px;
  border-radius: 30%;
}

.menuSmallerText {
  display: none;
  font-size: 12px;
  background-color: #00bb00;
  border-width: 0 1px;
  border: solid black;
}
